<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=mercure.clg.qc.ca)(PORT=1521)))(CONNECT_DATA=(SID=orcl)));User Id=bergeron;Password=ORACLE1"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
</configuration>
